<nav class="bg-black text-white px-6 py-4 flex justify-between items-center shadow-md">
    <div class="text-red-600 text-2xl font-bold">
      <a routerLink="/">MovieFlix</a>
    </div>
    <div class="space-x-6 text-sm font-medium">
      <a routerLink="/" class="hover:text-red-500 transition">Home</a>
      <a routerLink="/about" class="hover:text-red-500 transition">About</a>
      <a routerLink="/login" class="hover:text-red-500 transition">Login</a>
      <a routerLink="/signup" class="hover:text-red-500 transition">Signup</a>
    </div>
  </nav>
  