<!-- Hero Section -->
<div class="relative bg-gray-900 text-white">
    <img
      src="assets/bg.jpg"
      alt="Hero Background"
      class="w-full h-[80vh] object-cover opacity-40 bg-black"
    />
  
    <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-6">
      <h1 class="text-5xl sm:text-6xl font-bold mb-4">Welcome to <span class="text-red-600 drop-shadow-2xl">MovieFlix</span></h1>
      <p class="text-lg sm:text-xl mb-6 max-w-xl text-gray-400">
        Stream your favorite movies and shows. Anytime. Anywhere.
      </p>
      <a
        routerLink="/signup"
        class="bg-red-600 hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg transition"
      >
        Get Started
      </a>
    </div>
  </div>
  
  <section class="bg-gray-950 text-white py-16 px-6">
    <h2 class="text-3xl font-bold mb-6 text-red-500">Trending Now</h2>
  
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 px-4">
      <app-movie-card
        *ngFor="let movie of movies"
        [title]="movie.title"
        [imageUrl]="movie.imageUrl"
      ></app-movie-card>
    </div>
  </section>
  