/* Basic styling */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #141414;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    scrollbar-width: none;
  }
  
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color: #ccc;
    font-size: 14px;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #e50914;
    background-color: #333;
  }
  
  .error {
    color: #f44336;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-btn:disabled {
    background-color: #777;
    cursor: not-allowed;
  }
  
  .submit-btn:hover:not(:disabled) {
    background-color: #b81d2d;
  }
  
  option{
    color: white;
  }